﻿@model IEnumerable<BusinessLogic.ExchangeNode>
<table class="table table-bordered table-condensed table-responsive">
    <caption>Current exchange rates:</caption>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Currency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
    </tr>

    @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
        </tr>
    }

</table>
