﻿@model BusinessLogic.ExchangeRequest
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<h2 class="text-primary text-center">Exchange calculator</h2>
<hr />
<div class="row">
    <div class="col-lg-6">
        <p>Exchange calculator:</p>
        @using (Ajax.BeginForm("Index", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divResult" }))
        {
            <div class="form-horizontal row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="jumbotron">
                        @Html.LabelFor(model => model.exchangeFrom, "Exchange from:", new { htmlAttributes = new { @class = "" } })

                        @Html.EnumDropDownListFor(model => model.exchangeFrom, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.exchangeFrom, "", new { @class = "text-danger" })
                        <br />
                        @Html.LabelFor(model => model.exchangeFrom, "Exchange into:", new { htmlAttributes = new { @class = "" } })
                        @Html.EnumDropDownListFor(model => model.exchangeTo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.exchangeTo, "", new { @class = "text-danger" })
                         <br />
                        <label class="pull-left">Ammount:</label>
                        @Html.EditorFor(model => model.ammountToExchange, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ammountToExchange, "", new { @class = "text-danger" })
                        <br />
                        <input type="submit" value="Calculate!" class="btn btn-primary pull-right" />                                 
                </div>
                <hr />
                <div class="form-group row">
                    <div class="col-md-offset-2 col-md-12 text-success" id="divResult">
                        @ViewBag.Computed
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-lg-6">
        @Html.Action("GetExchangeRates", "Home")
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>